# a systemd config file for svetlo Walrus LED (https://github.com/dobresvetlo/svetlo)
# version 1.6

[Unit]
Description=svetlo Walrus LED
After=network.target

[Service]
ExecStart=/usr/bin/python svetlo.py
WorkingDirectory=/home/pi/svetlo
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=3
#User=pi

[Install]
WantedBy=multi-user.target
